.container{
    height: 380px;
    background-color: #000;
    color: #fff;
}
.title{
    font-size: 2.5em;
    opacity: .8;
    text-align: center;
}
.text{
    margin-top: 2em;
    font-size: 1.2em;
    opacity: .8;
    text-align: center;
}