.row{
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.col{
    text-align: center;
}
.img{
    height: 60px;
    width: auto;
    box-shadow: 0 0 10px #fff;
}
.h1{
    font-size: 1.5em;
    color: #b3bed4;
    text-shadow: 0 0 5px #fff;
}
.navbar{
    border-radius: 8px;
    background-color: #000;
}
.navbar:hover{
    box-shadow: 0 0 15px #fff;
    transition: .5s ease-in;
}
.navLink{
    font-size: 1.3em; 
    margin: 0 10px;
    color: #b3bed4;
    opacity: .6;
}
.navLink:hover{
    opacity: 1;
    color: #b3bed4;
    transition: .5s ease-in;
    text-decoration: none;
}
.activePage{
    opacity: 1;
}


@media (min-width: 576px) { 
    .h1{
        font-size: 1.3em;
    }
 }
@media (min-width: 768px) { 
    .h1{
        font-size: 2em;
    }
    .toggleBtn{
        background-color: #b3bed4;
        opacity: .7;
        margin: 0 auto;
    }
    .navbar{
        top: 0;
    }
    /* .collapse{
        border: 2px solid red;
    } */

 }
 @media (min-width: 992px) { 
    .h1{
        font-size: 2.5em;
    }
  }
  @media (min-width: 1200px) { 
    .h1{
        font-size: 2.7em;
    }
   }